## Ordinal Encoding Implementation

In [4]:
import pandas as pd
import numpy as np
import datetime

In [8]:
df_base = datetime.datetime.today()
df_date_list = [df_base - datetime.timedelta(days = x) for x in range(20)]
df = pd.DataFrame(df_date_list)
df.columns = ['day']
df

                          day
0  2020-07-04 18:05:23.944736
1  2020-07-03 18:05:23.944736
2  2020-07-02 18:05:23.944736
3  2020-07-01 18:05:23.944736
4  2020-06-30 18:05:23.944736
5  2020-06-29 18:05:23.944736
6  2020-06-28 18:05:23.944736
7  2020-06-27 18:05:23.944736
8  2020-06-26 18:05:23.944736
9  2020-06-25 18:05:23.944736
10 2020-06-24 18:05:23.944736
11 2020-06-23 18:05:23.944736
12 2020-06-22 18:05:23.944736
13 2020-06-21 18:05:23.944736
14 2020-06-20 18:05:23.944736
15 2020-06-19 18:05:23.944736
16 2020-06-18 18:05:23.944736
17 2020-06-17 18:05:23.944736
18 2020-06-16 18:05:23.944736
19 2020-06-15 18:05:23.944736

In [14]:
# Extracting the week day name
df['day_of_week'] = df['day'].dt.day_name()
df

                          day day_of_week
0  2020-07-04 18:05:23.944736    Saturday
1  2020-07-03 18:05:23.944736      Friday
2  2020-07-02 18:05:23.944736    Thursday
3  2020-07-01 18:05:23.944736   Wednesday
4  2020-06-30 18:05:23.944736     Tuesday
5  2020-06-29 18:05:23.944736      Monday
6  2020-06-28 18:05:23.944736      Sunday
7  2020-06-27 18:05:23.944736    Saturday
8  2020-06-26 18:05:23.944736      Friday
9  2020-06-25 18:05:23.944736    Thursday
10 2020-06-24 18:05:23.944736   Wednesday
11 2020-06-23 18:05:23.944736     Tuesday
12 2020-06-22 18:05:23.944736      Monday
13 2020-06-21 18:05:23.944736      Sunday
14 2020-06-20 18:05:23.944736    Saturday
15 2020-06-19 18:05:23.944736      Friday
16 2020-06-18 18:05:23.944736    Thursday
17 2020-06-17 18:05:23.944736   Wednesday
18 2020-06-16 18:05:23.944736     Tuesday
19 2020-06-15 18:05:23.944736      Monday

In [15]:
# Assigning rank to each day of week
day_name_map = {'Monday':1,
                'Tuesday':2,
               'Wednesday':3,
               'Thursday':4,
               'Friday':5,
               'Saturday':6,
               'Sunday':7}

In [18]:
df['day_orginal'] = df.day_of_week.map(day_name_map)
df

                          day day_of_week  day_orginal
0  2020-07-04 18:05:23.944736    Saturday            6
1  2020-07-03 18:05:23.944736      Friday            5
2  2020-07-02 18:05:23.944736    Thursday            4
3  2020-07-01 18:05:23.944736   Wednesday            3
4  2020-06-30 18:05:23.944736     Tuesday            2
5  2020-06-29 18:05:23.944736      Monday            1
6  2020-06-28 18:05:23.944736      Sunday            7
7  2020-06-27 18:05:23.944736    Saturday            6
8  2020-06-26 18:05:23.944736      Friday            5
9  2020-06-25 18:05:23.944736    Thursday            4
10 2020-06-24 18:05:23.944736   Wednesday            3
11 2020-06-23 18:05:23.944736     Tuesday            2
12 2020-06-22 18:05:23.944736      Monday            1
13 2020-06-21 18:05:23.944736      Sunday            7
14 2020-06-20 18:05:23.944736    Saturday            6
15 2020-06-19 18:05:23.944736      Friday            5
16 2020-06-18 18:05:23.944736    Thursday            4
17 2020-06-17 18:05:23.944736   Wednesday            3
18 2020-06-16 18:05:23.944736     Tuesday            2
19 2020-06-15 18:05:23.944736      Monday            1